<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <link href="../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet" />
        <script src="../static/lib/jquery.min.js" th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
        <script src="../static/lib/bootstrap.min.js" th:href="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <footer th:fragment="table_footer" id="footer" style="position: relative!important;">
            <div class="container">
                <div class="row">
                    <p class="text-center">中国创新创业大赛 - 军转民分站   起迈科技 提供技术支持</p>
                        <!--<p class="text-center">起迈科技 提供技术支持</p>-->
                    <p class="text-center">蜀 ICP 备 15010808 蜀 ICP 备 15010808号-2</p>
                </div>
            </div>
        </footer>
    </body>
</html>

