input{
    background:#fff;
    outline:none;
    border:0px;
}
.main_div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    height: 100%;
    max-width: 1200px;
}
.main_div .streamer{
    width: 100%;
    height: 45px;
}
.project{
    width: 91%;
    /*height:calc(100% - 215px) ;*/
    margin-top: -18px;
    background: #ecf7fd;
    margin-left: auto;
    margin-right: auto;
}
.main_div .streamer_jbxx,.streamer_jbxx_team{
    background: url("../img/danwei-jbxx.png");
    background-size: 100% 100%;

}
.main_div .streamer_hxtd,.streamer_hxtd_team{
    background: url("../img/danwei-hxtd.png");
    background-size: 100% 100%;
}
.main_div .streamer_syjhs,.streamer_syjhs_team{
    background: url("../img/danwei-syjjs.png");
    background-size: 100% 100%;

}
.main_div .streamer_yyxm{
    background: url("../img/yyxm.png");
    background-size: 100% 100%;

}
.main_div .streamer_kjjr_team{
    background: url("../img/kjjr.png");
    background-size: 100% 100%;

}

.table_unit{
    width: 100%;
}
.table_unit div{
    float: left;
}
.btn_table{
    width: 4.8%;
    margin-top: 20px;
}
.btn_table div{
    width: 46px;
    height: 110px;
    border: 1px solid #b3d4f9;
    border-bottom-left-radius:4px;
    border-top-left-radius:4px;
    text-align: center;
}
.btn_table div p {
    font-family: 微软雅黑;
    font-size: 20px;
    color: #b3d4f9;
}
.btn_table div ul{
    margin-top: 5px;
    margin-left: -25px;
}
.btn_table div ul li{
    list-style-type: none;
    text-decoration: none;
}
.table_unit_content{
    width: 90.5%;
    height: 100%;
    margin-top: -18px;
}
.table_team_content{
    width: 90.5%;
    height: 100%;
    margin-top: -18px;
}
.tContent{
    width: 100%!important;
    position: relative;
}
.tContent table{
    width: 100%!important;

}
.tContent table tbody tr td{
    border: 1px solid #b3d4f9;
}
.tContent table tbody{
    width: 100%!important;
}
.t_title{
    width: 10%;

}
.t_middle{
    width: calc(90% - 30px);
}
.t_end{
    width: 30px;
}
.t_content{
    width: 200px;
}
.t_middle div{
    float: left;
}
/*.conservation_div{*/
    /*margin-top: 95%;*/
    /*height: 30px;*/
/*}*/

 .conservation{
    width: 100px;
    height: 30px;
    background: #8fc320;
    border-radius: 4px;
     margin: 30px calc(50% - 50px);
     text-align: center;
}
.conservation p{
    padding-top: 5px;
    color: #ffffff;
    text-align: center;
}

#title_project div{
    float: left;
}
.project_btn{
    width: 70px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
}

#unit_list{
    background: #7aae1a;
}
#team_list{
    background: #7aae1a;
}
#add_project{
    background: #12aaf0;
}

.pop{
    width: 50%;
    height: 150px;
    border-radius: 4px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #12aaf0;
}

.t_middle table{
    width: 100%;
    height: 100%;
}
.t_middle table tr .t_table_title{
    width: 200px;
    height: 30px;
}
.maturity2{
    width: 100px;
    height: 100%;
}
.maturity1{
    width: 200px;
    height: 100%;
}
.t_middle table tr td input,.address_input td input,.maturity_input input,#pro_name,#pro_incomed,
.df_yes td input,#df_debtFund_plan,#technical_desc_international,
#technical_desc_internal,#intermediary_law_desc,#intermediary_finance_desc,
#intermediary_financing_desc,#intermediary_manage_desc,#other_service_desc,
.person_input td input,.t_content input,#office_address,#power_type,#win_num,#register_capital{
    width: 100%;
    height: 100%;
}
textarea{
    width: 100%;
    height: 60px;
}

#team_name,#te_pro_name,#te_key_word,#company_name{
    width: calc(100% - 30px);
}
.date_input_td input{
    width: 25%;
    height:100%;
}
table,tr,td{
    background: #ecf7fd;
}
#patent_choose{
    width: 80px;
}
#patent_choose input{
    width: 12px!important;
    height:12px!important;
}
div#post_code input,#technical_sources input ,#te_compatition_goal input,
#te_industry_field input,#te_pro_stage input,#ue_goal input,#ue_filed input{
    width: auto;
    height: auto;
    margin-left: 30px;
}
.img_tr td{
    background: #a8daf3;
}
.choose_div div{
    float: left;
    margin-left: 20px;
}
.person_input td{
    width: 100px;
    height: 30px;
}
.person_input .t_title{
    width: 120px!important;
}