<!DOCTYPE html>
<html lang="ch_CN" class="fp-enabled" style="overflow: hidden; height: 100%;" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>中国创新创业大赛 - 军转民分站</title>
    <link href="../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet" />
    <!--<link href="../static/lib/css/jquery.fullPage.min.css" th:href="@{/lib/css/jquery.fullPage.min.css}" rel="stylesheet" />-->
    <link href="../static/lib/css/font-awesome.min.css" th:href="@{/lib/css/font-awesome.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body class="fp-viewing-0" style="overflow-y:auto ; height: 100%;">
<div id="body">
    <div id="">
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>



        <div class="" >
            <div  class=""
                 style="height:auto; position: relative; touch-action: none; transform: translate3d(0px, 0px, 0px);" >
                <div class="section section-banner active" style="margin-top: 70px;">
                    <div class="content" style="height: 455px!important;">
                    </div>
                    <div class="content_blue">
                        <div>
                            <ul>
                                <li><a href="#meg_present">大赛介绍</a></li>
                                <li><a href="#condition">参赛条件</a></li>
                                <li><a href="#prize_set">奖项设置</a></li>
                                <li><a href="#org_institution">组织机构</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="com_process">
                        <div class="process process_title">
                            <ul>
                                <li><div class="title_a">4月下旬</div></li>
                                <li><div class="title_a">5月-7月</div></li>
                                <li><div class="title_b">7月下旬</div></li>
                                <li><div class="title_b">8月上旬</div></li>
                                <li><div class="title_b">8月中旬</div></li>
                                <li><div class="title_b">8月下旬</div></li>
                            </ul>
                        </div>
                        <div class="process_circle" style="padding-left: 11.4%;">
                            <div class="circle-one">
                                <div class="" style="width: 20px;margin-top: 3px;">
                                    <img src="../static/img/quan1.png" th:src="@{/img/quan1.png}" alt="" class="" />
                                </div>
                                <div class="line_circle"></div>
                                <div class="" style="width: 20px;margin-top: 3px;">
                                    <img src="../static/img/quan1.png" th:src="@{/img/quan1.png}" alt="" class="" />
                                </div>
                            </div>
                            <div class="circle-two">
                                <div class="line_circle_"></div>
                            </div>
                            <div class="circle-one">
                                <div class="" style="width: 20px;margin-top: 3px;">
                                    <img src="../static/img/quan2.png" th:src="@{/img/quan2.png}" alt="" class="" />
                                </div>
                                <div class="line_circle"></div>
                                <div class="" style="width: 20px;margin-top: 3px;">
                                    <img src="../static/img/quan2.png" th:src="@{/img/quan2.png}" alt="" class="" />
                                </div>
                            </div>
                            <div class="circle-two">
                                <div class="line_circle_"></div>
                            </div>
                            <div class="circle-one">
                                <div class="" style="width: 20px;margin-top: 3px;">
                                    <img src="../static/img/quan2.png" th:src="@{/img/quan2.png}" alt="" class="" />
                                </div>
                                <div class="line_circle"></div>
                                <div class="" style="width: 20px;margin-top: 3px;">
                                    <img src="../static/img/quan2.png" th:src="@{/img/quan2.png}" alt="" class="" />
                                </div>
                            </div>
                        </div>
                        <div class="process_circle_content">
                            <ul>
                                <li><p class="cc_one">北京</p></li>
                                <li><p class="cc_one">网上</p></li>
                                <li><p class="cc_two">网上</p></li>
                                <li><p class="cc_two">北京</p></li>
                                <li><p class="cc_two">北京</p></li>
                                <li><p class="cc_two">绵阳</p></li>
                            </ul>
                        </div>
                        <div class="process process_content">
                            <ul>
                                <li class="pro_li_one" style="margin-left: 10px;">
                                    <div class="pro_con_one">
                                        <p>启动仪式</p>
                                        <p>征集报名</p>
                                    </div>
                                </li>
                                <li class="pro_li_two pro_li_sj1"></li>
                                <li class="pro_li_one"><div class="pro_con_one">
                                    <p>报名</p>
                                    <p>资方入住</p></div></li>
                                <li class="pro_li_two pro_li_sj1"></li>
                                <li class="pro_li_one"><div class="pro_con_two">
                                    <p>初赛</p>
                                    <p>创业优惠</p>
                                </div></li>
                                <li class="pro_li_two pro_li_sj2"></li>
                                <li class="pro_li_one"><div class="pro_con_two">
                                    <p>培训</p>
                                    <p>培训服务</p>
                                </div></li>
                                <li class="pro_li_two pro_li_sj2" ></li>
                                <li class="pro_li_one"><div class="pro_con_two">
                                    <p>半决赛</p>
                                    <p>征集报名</p>
                                </div></li>
                                <li class="pro_li_two pro_li_sj2"></li>
                                <li class="pro_li_one"><div class="pro_con_two">
                                    <p>现场竞投</p>
                                    <p>决赛颁奖</p>
                                </div></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="section" id="meg_present">
                    <div class="present">
                        <!--<img src="../static/img/index-title-2-1.png" th:src="@{/img/index-title-2-1.png}" alt="" class="index-title" />-->
                        <img src="../static/img/dsjs.png" th:src="@{/img/dsjs.png}" alt="" class="index-text" />
                    </div>
                    <div class="present_content">
                        <div>
                            <p>
                                中国创新创业大赛作为全国最高规格“双创”赛事已连续举办五届。军转民大赛作为中国创新创业大赛的专项赛、亮点赛，
                                已成功在绵阳连续举办三届，吸引了千余项军工科技项目参与，推动了百余个优秀项目的就地转移和转化，
                                在全国军工系统和社会各界引起了极大反响。
                            </p>
                            <!--<br>-->
                            <p>
                                结合往届赛事经验，本届军转民大赛将探索“政府引导+市场参与+资本众扶”的新型办赛模式，
                                即：引导、集聚政府和市场资源支持创新创业事业，激发、鼓励资本和基金扶持创新创业平台，配套运用培训辅导、融资路演、银行授信等方式，为参赛项目提供多元化服务，
                                进一步挖掘和培育军工科研队伍的市场意识和商业意识，推广和转化更多有市场价值的军转民项目，打造西部特色军民融合众创圈。
                            </p>
                        </div>

                        <div class="present_btn">
                            <button>了解更多</button>
                        </div>
                    </div>

                </div>
                <div class="section section-div" id="condition" >
                    <div class="little-pr">
                        <!--<img src="../static/img/index-title-2-1.png" th:src="@{/img/index-title-2-1.png}" alt="" class="index-title" />-->
                        <img src="../static/img/cstj.png" th:src="@{/img/cstj.png}" alt="" class="index-text" />
                    </div>
                    <div class="condition_content">
                        <div>
                            <p class="con_con_title">/01 参赛主体/</p>
                            <p class="con_con_con">国防军工院校、科研院所、军工企业集团直属军转民企业；涉军单位及军转民企业所属创新团队。</p>
                        </div>
                        <div class="div_">
                            <p class="con_con_title">/02 项目范围/</p>
                            <p class="con_con_con" >装备制造、航空航天、核技术应用、特种机械与车辆、光机电一体化、电子信息、新材料新能源、生物医药等产业。</p>
                        </div>
                        <div class="div_">
                            <p class="con_con_title">/03 比赛分类/</p>
                            <p class="con_con_con">按照大赛评审委员会的指导意见，大赛拟制定企业组、团队组进行比赛。往届大赛总决赛获得名次对象不参加本届大赛。</p>
                        </div>
                    </div>

                </div>

                <div class="section section-div"  id="prize_set">
                    <div class="present">
                        <!--<img src="../static/img/index-title-2-1.png" th:src="@{/img/index-title-2-1.png}" alt="" class="index-title" />-->
                        <img src="../static/img/jxsz.png" th:src="@{/img/jxsz.png}" alt="" class="index-text" />
                    </div>
                    <div class="prize_content">
                        <div>
                            <div class="_div">
                                <ul>
                                    <li  class="prize_title"><p>一等奖<span>2</span>个（单位团队各1个）</p></li>
                                    <li class="triangle-down"></li>
                                    <li class="prize_red"><p>20，0000元</p></li>
                                </ul>
                            </div>
                            <div class="div_2 _div">
                                <ul>
                                    <li  class="prize_title"><p>三等奖<span>5</span>个（单位3个、团队2个）</p></li>
                                    <li class="triangle-down"></li>
                                    <li class="prize_red"><p>5，0000元</p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="div_">
                            <div class="_div">
                                <ul>
                                    <li  class="prize_title"><p>二等奖<span>3</span>个（单位2个、团队1个）</p></li>
                                    <li class="triangle-down"></li>
                                    <li class="prize_red"><p>10，0000元</p></li>
                                </ul>
                            </div>
                            <div class="div_2 _div">
                                <ul>
                                    <li  class="prize_title"><p>优胜奖<span>10</span>个（单位5个、团队5个）</p></li>
                                    <li class="triangle-down"></li>
                                    <li class="prize_red"><p>3，0000元</p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="div_">
                            <div style="width: 100%">
                                <div class="present div_jb" style="width: 100%;height: 70px;">
                                    <!--<img src="../static/img/index-title-2-1.png" th:src="@{/img/index-title-2-1.png}" alt="" class="index-title" />-->
                                    <img src="../static/img/jiangbei.png" th:src="@{/img/jiangbei.png}" alt="" class="img_jb" />
                                </div>
                                <div class="content_jb div_2" style="width: 100%">
                                    <p>
                                        对组织项目参赛单位给予奖励。其中，优秀组织奖、优秀投资机构，并颁发奖杯奖牌。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-div" id="org_institution" >
                    <div class="little-pr">
                        <!--<img src="../static/img/index-title-2-1.png" th:src="@{/img/index-title-2-1.png}" alt="" class="index-title" />-->
                        <img src="../static/img/zzjg.png" th:src="@{/img/zzjg.png}" alt="" class="index-text" />
                    </div>
                    <div class="org_content">
                        <div class="one_org">
                            <div class="ore_up" style="width: 100%;height: 120px;">
                                <div class="org_title" style="width: 100%;height: 40px;">
                                    <div style="width: 40%"><p>指导单位</p></div>
                                    <div class="" style="width: 20px;margin-top: 3px;">
                                    <!--<img src="../static/img/index-title-2-1.png" th:src="@{/img/index-title-2-1.png}" alt="" class="index-title" />-->
                                        <img src="../static/img/quan1.png" th:src="@{/img/quan1.png}" alt="" class="" />
                                    </div>
                                </div>
                                <div class="_content" style="width: 100%">
                                    <p>中国创新创业大赛组委会</p>
                                    <p>国家工业和信息化部</p>
                                    <p>国家国防科技工业局</p>
                                </div>
                            </div>
                            <div class="org_deep" style="width: 100%;height: 240px;">
                                <div class="org_title" style="width: 100%;height: 40px;">
                                    <div style="width: 40%"><p>支持单位</p></div>
                                    <div class="" style="width: 20px;margin-top: 3px;">
                                        <!--<img src="../static/img/index-title-2-1.png" th:src="@{/img/index-title-2-1.png}" alt="" class="index-title" />-->
                                        <img src="../static/img/quan1.png" th:src="@{/img/quan1.png}" alt="" class="" />
                                    </div>
                                </div>
                                <div class="_content" style="width: 100%">
                                    <p>中国工程物理研究院</p>
                                    <p>中国航天科技集团</p>
                                    <p>中国兵器集团</p>
                                    <p>中国电子科技集团</p>
                                    <p>四川省科技厅</p>
                                    <p>四川省经济和信息化委员会</p>
                                    <p>四川省国防科工办</p>
                                </div>
                            </div>
                        </div>
                        <div class="div_ one_org" >
                            <div class="ore_up" style="width: 100%;height: 120px;">
                                <div class="org_title" style="width: 100%;height: 40px;">
                                    <div style="width: 40%;"><p>主办单位</p></div>
                                    <div class="" style="width: 20px;margin-top: 3px;">
                                        <!--<img src="../static/img/index-title-2-1.png" th:src="@{/img/index-title-2-1.png}" alt="" class="index-title" />-->
                                        <img src="../static/img/quan1.png" th:src="@{/img/quan1.png}" alt="" class="" />
                                    </div>
                                </div>
                                <div class="_content" style="width: 100%">
                                    <p>科技部火炬高技术产业开发中心</p>
                                    <p>绵阳市人民政府</p>
                                </div>
                            </div>
                            <div class="org_deep">
                                <div class="org_title" style="width: 100%;height: 40px;">
                                    <div style="width: 40%"><p>协办单位</p></div>
                                    <div class="" style="width: 20px;margin-top: 3px;">
                                        <!--<img src="../static/img/index-title-2-1.png" th:src="@{/img/index-title-2-1.png}" alt="" class="index-title" />-->
                                        <img src="../static/img/quan1.png" th:src="@{/img/quan1.png}" alt="" class="" />
                                    </div>
                                </div>
                                <div class="_content" style="width: 100%">
                                    <p>国家军民两用技术交易中心</p>
                                    <p>绵阳科教创业园区创业服务中心</p>
                                    <p>外包服务中标单位</p>
                                </div>
                            </div>
                        </div>
                        <div class="div_ one_org">
                            <div class="ore_up" style="width: 100%;height: 120px;">
                                <div class="org_title" style="width: 100%;height: 40px;">
                                    <div style="width: 40%"><p>承办单位</p></div>
                                    <div class="" style="width: 20px;margin-top: 3px;">
                                        <!--<img src="../static/img/index-title-2-1.png" th:src="@{/img/index-title-2-1.png}" alt="" class="index-title" />-->
                                        <img src="../static/img/quan1.png" th:src="@{/img/quan1.png}" alt="" class="" />
                                    </div>
                                </div>
                                <div class="_content" style="width: 100%">
                                    <p>绵阳市科学技术和知识产权局</p>
                                    <p>绵阳科教创业园区管理委员会（国家军转民科技园区）</p>
                                </div>
                            </div>
                            <div class="org_deep">
                                <div class="org_title" style="width: 100%;height: 40px;">
                                    <div style="width: 40%"><p>赛事组委会</p></div>
                                    <div class="" style="width: 20px;margin-top: 3px;">
                                        <!--<img src="../static/img/index-title-2-1.png" th:src="@{/img/index-title-2-1.png}" alt="" class="index-title" />-->
                                        <img src="../static/img/quan1.png" th:src="@{/img/quan1.png}" alt="" class="" />
                                    </div>
                                </div>
                                <div class="_content" style="width: 100%">
                                    <p>组委会由主办单位、承办单位、协办单位共同组成，主要负责大赛的整体规划、指导、协调，并确定重大事项。组委会包括秘书处、项目组、接待组、宣传组、招商组，承担大赛的具体事务和组织工作。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--<div th:replace="fragments/header :: header"></div>-->
        <!--&copy; 2016 blog.codeleak.pl-->
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>


<script src="../static/lib/js/jquery.min.js" th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
<script src="../static/lib/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<!--<script src="../static/lib/js/jquery.fullPage.min.js" th:src="@{/lib/js/jquery.fullPage.min.js}" ></script>-->

<script>
    $(function () {
        $('#fullpage').fullpage({
            navigation: true,
            navigationPosition: 'right',
            slidesNavigation: false,
            easingcss3: 'cubic-bezier(.86, 0, .07, 1)',
            css3: true,
            verticalCentered: false,
            loopHorizontal: false
        });
    });
</script>



</body>
</html>