<!DOCTYPE html>
<html lang="ch_CN" class="fp-enabled" style="overflow: hidden; height: 100%;" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>中国创新创业大赛 - 军转民分站</title>
    <link href="../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/lib/css/font-awesome.min.css" th:href="@{/lib/css/font-awesome.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/login_reg.css" th:href="@{/css/login_reg.css}" />
</head>
<body style="height: 100%">
<!--访问controller action方法-->
<div id="body" style="height: 100%">

    <div th:replace="fragments/login_header :: login_header"></div>

    <div class="login_reg_bac" style="height: calc(100% - 200px)">
        <div class="login_reg_div">
            <div class="login_div">
                <div class="login_btn">
                    <div id="login_competition_btn"><p>参赛登录</p></div>
                    <div id="login_work_btn"><p>工作登录</p></div>
                    <!--<hr/>-->
                </div>
                <div class="login_form" id="login_competition">
                    <form th:action="@{loginAction}" method="post" target="loginAction_frame">

                        <div class="header">
                            <h2 class="logo png"></h2>
                        </div>
                        <ul>
                            <li>
                                <div>
                                    <label>用户名:</label><input name="comAccName" type="text" class="text"/>
                                </div>
                            </li>
                            <!--<li/>-->

                            <li class="login_mar">
                                <div>
                                    <label>密　码:</label><input name="comAccPwd" type="password" class="text" />
                                </div>
                            </li>
                            <!--<li/>-->
                            <li class="submits login_mar">
                                <div class="login_hover">
                                    <input class="submit " type="submit" value="登录"  />
                                </div>

                            </li>
                            <li class="submits login_mar" id="register_btn">
                                <div>
                                    <input class="button" type="button" value="注册"/>
                                </div>
                            </li>
                        </ul>
                    </form>
                    <iframe name='loginAction_frame' id="loginAction_frame" style='display: none'></iframe>
                </div>
                <div id="login_work" class="login_form">
                    <form th:action="@{loginActionWork}" method="post" target="loginActionWork_frame">

                        <div class="header">
                            <h2 class="logo png"></h2>
                        </div>
                        <ul>
                            <li>
                                <div>
                                    <label>用户名:</label><input name="comAccName" type="text" class="text"/>
                                </div>
                            </li>
                            <!--<li/>-->

                            <li class="login_mar">
                                <div>
                                    <label>密　码:</label><input name="comAccPwd" type="password" class="text" />
                                </div>
                            </li>
                            <!--<li class="login_mar">-->
                                <!--<div>-->
                                    <!--<label>工作类型:</label>-->
                                    <!--<input name="comAccType" type="radio" class="text" />专家-->
                                    <!--<input name="comAccType" type="radio" class="text" />管理员-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li/>-->
                            <li class="submits login_mar">
                                <div  class="login_hover">
                                    <input class="submit" type="submit"  value="登录"  />
                                </div>

                            </li>
                            <!--<li class="submits login_mar">-->
                                <!--<div>-->
                                    <!--<input class="button" type="button" value="注册"/>-->
                                <!--</div>-->
                            <!--</li>-->
                        </ul>
                    </form>
                    <iframe name='loginActionWork_frame' id="loginActionWork_frame" style='display: none'></iframe>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>


</div>


<script src="../static/lib/js/jquery.min.js" th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
<script src="../static/lib/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="../static/js/menu_click.js" th:src="@{/js/menu_click.js}"></script>
<script src="../static/js/login.js" th:src="@{/js/login.js}"></script>
</body>
</html>
