<!DOCTYPE html>
<html lang="ch_CN" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>中国创新创业大赛 - 军转民分站</title>
    <link href="../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/lib/css/font-awesome.min.css" th:href="@{/lib/css/font-awesome.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/post.css}" />
    <script src="../static/lib/js/jquery.min.js" th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
    <script src="../static/lib/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script src="../static/lib/js/moment.min.js" th:src="@{/lib/js/moment.min.js}"></script>
</head>
<body>
<div id="body">
    <div id="main">
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>

        <!--banner部分-->
        <div class="section section-banner active" style="margin-top: 70px;">
            <div class="content2">
                <div class="index_login_btn"><a href="#"><p>参赛登录</p></a></div>
            </div>
            <div class="content_blue2" id="review_banner_post">
                <div>
                    <ul>
                        <li class="click_menu1"><a href="/pictures"><p>照片展示</p></a></li>
                        <li class="click_menu2"><a href="/threads?type=VIDEO?review"><p>视频展示</p></a></li>
                        <li class="click_menu3"><a href="/threads?type=PROJECT?review"><p>优秀项目</p></a></li>
                        <li class="click_menu4"><a href="/avatars"><p>专家委员会</p></a></li>
                    </ul>
                </div>
            </div>
            <div class="content_blue2" id="news_center_banner_post">
                <div>
                    <ul>
                        <li class="click_menu5"><a href=""><p>全国大赛</p></a></li>
                        <li class="click_menu6"><a href=""><p>军转民分区</p></a></li>
                        <li class="click_menu7"><a href=""><p>赛事报告</p></a></li>
                        <li class="click_menu8"><a href=""><p>其他资讯</p></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row thread">
            <h2 th:text="${post.title}"></h2>
            <h4><small th:text="'类别：'+ ${post.postType.toChinese()}" id="postType"></small><small class="time" th:text="'发布时间：'+ ${formatter.format(post.createdAt)}"></small></h4>
            <hr/>
            <div class="row " th:utext="${post.content}">
            </div>
            <hr/>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
<script src="../static/js/menu_click.js" th:src="@{/js/menu_click.js}"></script>
<script type="text/javascript">
    var postType = $("#postType").text().substring(3)
    if(postType == "项目" || postType == "视频"){
        $("#review_banner_post").show();
        $("#news_center_banner_post").hide();
    }
    if(postType == "军转民分区" || postType == "全国大赛" || postType == "报告" || postType == "其他"){
        $("#review_banner_post").hide();
        $("#news_center_banner_post").show();
    }
</script>
</body>
</html>