<!DOCTYPE html>
<html lang="ch_CN" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>中国创新创业大赛 - 军转民分站</title>
    <link href="../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/lib/css/font-awesome.min.css" th:href="@{/lib/css/font-awesome.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/lib/css/lightbox.min.css" th:href="@{/lib/css/lightbox.min.css}" />
    <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="../static/css/unitTable.css" th:href="@{/css/unitTable.css}" />
</head>
<body style="height: 100%">
<div id="body" style="height: 100%">
    <div class="login_header" th:fragment="login_header" style="background: rgba(0,0,0,0)!important;">
        <nav id="" class="" style="box-shadow: none;">
            <div class="">
                <div>
                    <div id="turn_competition">
                        <img src="../img/left+arrow3.png" style="height: 40px;"/>我的比赛
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="main" style="height: calc(100% - 130px);position: absolute;width: 100%;">
        <div class="main_div" style="height:100%;padding-top: 100px;">
            <!--//飘带-->
            <div class="streamer streamer_yyxm"></div>
            <div class="project" style="height:calc(100% - 85px);">
                <div style="width: 80%;margin-left: auto;margin-right: auto; padding-top: 20px;height: 100%">
                    <div id="title_project" style="height:30px;">
                        <div>
                            <div class="project_btn" id="unit_list"><P>单位项目</P></div>
                            <div class="project_btn" id="team_list"><P>团队项目</P></div>
                        </div>
                        <div class="project_btn" id="add_project" style="float: right"> <p style="width: auto;margin-top: 5px;">增加项目<blod>+</blod></p></div>
                    </div>
                    <div  class="project_list" id="unit_project_list">
                        <ul>

                        </ul>
                    </div>
                    <div class="project_list" id="team_project_list">
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

<script src="../static/lib/js/jquery.min.js" th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
<script src="../static/lib/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="../static/lib/js/lightbox.min.js" th:src="@{/lib/js/lightbox.min.js}"></script>
<script src="../static/js/public.js" th:src="@{/js/public.js}"></script>
<script src="../static/js/comeTime.js" th:src="@{/js/comeTime.js}"></script>
<script src="../static/js/project.js" th:src="@{/js/project.js}"></script>
</body>
</html>