<!DOCTYPE html>
<html lang="ch_CN" class="fp-enabled"
      style="overflow: hidden; height: 100%;"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>中国创新创业大赛 - 军转民分站</title>
    <link href="../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/lib/css/font-awesome.min.css" th:href="@{/lib/css/font-awesome.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/login_reg.css" th:href="@{/css/login_reg.css}" />
</head>
<body class="fp-viewing-0" style="height: 100%">
<div id="body" style="height: 100%">

    <div th:replace="fragments/login_header :: login_header"></div>

    <div class="reg_reg_bac" style="height: calc(100% - 200px)">
        <div class="reg_suc_div">
            <div class="suc_div">
                <div class="suc_title">
                    <div><p>参赛注册</p></div>
                    <!--<hr/>-->
                </div>
                <div class="suc suc_content">
                    <div class="suc_con_div">
                        <div><img src="../static/img/chenggong.png" th:src="@{/img/chenggong.png}" alt="" class="" /></div>
                        <div style="margin-top: 15px;margin-left: 35px;"><p style="font-family: 微软雅黑;font-weight: bold;font-size: 18px;color: #444444">恭喜你！注册成功!</p></div>
                    </div>
                </div>
                <div class="suc suc_login"><p>立即登录</p></div>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"></div>


</div>

<script src="../static/lib/js/jquery.min.js" th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
<script src="../static/lib/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="../static/js/register.js" th:src="@{/js/register.js}"></script>

</body>
</html>
