<!DOCTYPE html>
<html lang="ch_CN" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>中国创新创业大赛 - 军转民分站</title>
    <link href="../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/lib/css/font-awesome.min.css" th:href="@{/lib/css/font-awesome.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/lib/css/lightbox.min.css" th:href="@{/lib/css/lightbox.min.css}" />
    <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="../static/css/unitTable.css" th:href="@{/css/unitTable.css}" />
    <!--时间控件引用-->
    <link rel="stylesheet" href="../static/time/documents/css/reset.css" th:href="@{/time/documents/css/reset.css}"/>
    <link rel="stylesheet" href="../static/time/css/BeatPicker.min.css"  th:href="@{/time/css/BeatPicker.min.css}"/>
    <link rel="stylesheet" href="../static/time/documents/css/demos.css"  th:href="@{/time/documents/css/demos.css}"/>
    <link rel="stylesheet" href="../static/time/documents/css/prism.css"  th:href="@{/time/documents/css/prism.css}"/>
    <style type="text/css">
        .header, .navbar-default {
            border: none;
            min-width: inherit!important;
        }
        .header {
            position: relative!important;
        }
    </style>

</head>
<body>
<div id="body">
    <div id="main" >
        <div class="com_content">
            <p><b>团队组报名流程</b></p>
            <p>1、单击<span style="color: #f16792">第一步</span>，录入参赛基本信息并保存</p>
            <p>2、确认<span style="color: #f16792">第一步</span>信息填写并保存完毕后，单击<span style="color: #f16792">第二步</span>，录入核心团队人员信息</p>
            <p>3、确认核心团队人员信息已录入保存，单击<span style="color: #f16792">第三步</span>，录入商业计划书相关内容。商业计划书内提供两个接口：<span style="color: #f16792">保存和提交商业计划书</span>，点击<span style="color: #f16792">保存</span>则保存信息置商业计划书的状态为“保存”，点击<span style="color: #f16792">提交商业计划书</span>则保存商业计划书并置其状态为“提交”！</p>
            <p>4、确认商业计划的状态是否为提交，是则单击<span style="color: #f16792">第四步</span>录入科技金融服务需求相关信息。科技金融服务需求页提供两个接口：<span style="color: #f16792">保存和提交报名</span>按钮，点击<span style="color: #f16792">保存</span>则仅保存科技金融服务需求相关信息，点击<span style="color: #f16792">提交报名</span>则保存科技金融服务需求页信息并提交报名！</p>
            <p style="color: #f16792;font-size: 14px!important;">注：在报名截止日期前所有项目均可修改！退出报名前要确保所填信息已保存，避免重新填写！点击我的比赛课跳转至我的比赛页面，可查看已报名项目、已保存未提交项目相关信息并可对未提交项目进行编辑、提交报名操作！</p>
        </div>
        <div class="main_div">
            <!--//飘带-->
            <div class="streamer streamer_jbxx_team"></div>
            <div class="streamer streamer_hxtd_team"></div>
            <div class="streamer streamer_syjhs_team"></div>
            <div class="streamer streamer_kjjr_team"></div>
            <div class="table_unit">
                <div class="btn_table">
                    <div id="first_btn">
                        <ul>
                            <li><p>第</p></li>
                            <li><p>一</p></li>
                            <li><p>步</p></li>
                        </ul>
                        <!--<p>第一步</p>-->
                    </div>
                    <div id="second_btn">
                        <ul>
                            <li><p>第</p></li>
                            <li><p>二</p></li>
                            <li><p>步</p></li>
                        </ul>
                    </div>
                    <div id="third_btn">
                        <ul>
                        <li><p>第</p></li>
                        <li><p>三</p></li>
                        <li><p>步</p></li>
                        </ul>
                    </div>
                    <div id="four_btn">
                        <ul>
                            <li><p>第</p></li>
                            <li><p>四</p></li>
                            <li><p>步</p></li>
                        </ul>
                    </div>
                    <div id="project_page">
                        <ul>
                            <li><p>我</p></li>
                            <li><p>的</p></li>
                            <li><p>比</p></li>
                            <li><p>赛</p></li>
                        </ul>
                    </div>
                </div>
                <div id="first_table" class="table_team_content">
                    <div class="tContent">
                        <table>
                            <tbody>
                            <tr hidden="hidden"><td><input type="text" id="teId"/></td></tr>
                            <tr>
                                <td class="t_title">团队名称</td>
                                <td class="t_middle" colspan="3">
                                    <input type="text" id="team_name"/>
                                    <div style="float: right;width: 15px;"><p>*</p></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="t_title">项目名称</td>
                                <td class="t_middle" colspan="3">
                                    <input type="text" id="te_pro_name"/>
                                    <div style="float: right;width: 15px;"><p>*</p></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="t_title">参赛目的</td>
                                <td class="t_middle" colspan="3">
                                    <div id="te_compatition_goal" onclick="change_otherGoal()">
                                        <input type="radio" name="goal" value="竞争大赛优胜荣誉"/>竞争大赛优胜荣誉
                                        <input type="radio"  name="goal" value="寻求股权融资机会"/>寻求股权融资机会
                                        <input type="radio"  name="goal" value="寻求债权融资机会"/>寻求债权融资机会
                                        <input type="radio"  name="goal" value="寻求学习、体验、广泛交流机会"/>寻求学习、体验、广泛交流机会
                                        <input type="radio"  name="goal" value="寻求政府政策支持"/>寻求政府政策支持
                                        <input type="radio"  name="goal" value="自我宣传展示"/>自我宣传展示
                                        <input type="radio" name="goal" value="技术转让"/>技术转让
                                        <input type="radio" name="goal"  value="许可使用"/>许可使用
                                        <input type="radio"  name="goal" value="其它"/>其它
                                        <input type="text" id="teGoal"/>
                                    </div>

                                </td>
                                <!--<td class="t_end"></td>-->
                            </tr>
                            <tr>
                                <td class="t_title">所属行业领域</td>
                                <td class="t_middle" colspan="3">
                                    <div id="te_industry_field">
                                        <input type="radio" name="field" value="先进制造与高端装备制造"/>先进制造与高端装备制造
                                        <input type="radio" name="field" value="电子信息"/>电子信息
                                        <input type="radio" name="field" value="新材料"/>新材料
                                        <input type="radio" name="field" value="光机电一体化"/>光机电一体化
                                        <input type="radio" name="field" value="新能源与新动力"/>新能源与新动力
                                        <input type="radio"  name="field" value="生物医药"/>生物医药
                                        <input type="radio" name="field" value="节能环保"/>节能环保
                                        <input type="radio"  name="field" value="其它"/>其它
                                    </div>

                                </td>
                                <!--<td class="t_end"></td>-->
                            </tr>
                            <tr>
                                <td class="t_title">项目阶段</td>
                                <td class="t_middle" colspan="3">
                                    <div id="te_pro_stage">
                                        <input type="radio" name="stage" value="创意"/>创意
                                        <input type="radio" name="stage" value="研发"/>研发
                                        <input type="radio" name="stage" value="产品开发"/>产品开发
                                        <input type="radio" name="stage" value="试运营"/>试运营
                                        <input type="radio" name="stage" value="市场拓展"/>市场拓展
                                    </div>

                                </td>
                                <!--<td class="t_end"></td>-->
                            </tr>
                            <tr>
                                <td class="t_title">行政区域</td>
                                <td colspan="3"><input type="text" id="admin_area_province"/>省
                                    <input type="text" id="admin_area_city"/>市</td>
                            </tr>
                            <tr class="date_input">
                                <td class="t_title">团队成立时间</td>
                                <td class="date_input_td">
                                    <input type="number" id="team_year"/>年
                                    <input type="number" id="team_month"/>月
                                    <input type="number" id="team_day"/>日
                                </td>
                                <td class="t_title">拟成立公司时间</td>
                                <td class="date_input_td">
                                    <input type="number" id="company_year"/>年
                                    <input type="number" id="company_month"/>月
                                    <input type="number" id="company_day"/>日
                                </td>
                            </tr>
                            <tr class="address_input">
                                <td class="t_title">通讯地址</td>
                                <td><input type="text" id="te_address" maxlength="200"/></td>
                                <td class="t_title">邮政编码</td>
                                <td><input type="text" id="te_postalcode"/></td>
                            </tr>
                            <tr>
                                <td class="t_title">团队负责人</td>
                                <td colspan="3" class="t_middle  t_team">
                                    <table>
                                        <tr hidden="hidden"><td><input type="text" id="teamId"/></td></tr>
                                        <tr>
                                            <td class="t_table_title">姓名</td><td><input type="text" id="res_name"/></td>
                                            <td class="t_table_title">职位</td><td><input type="text" id="res_job"/></td>
                                        </tr>
                                        <tr>
                                            <td class="t_table_title">证件类型（身份证/护照)</td>
                                            <td><div>
                                                <select id="res_document_type"><option>身份证</option><option>护照</option></select>
                                            </div></td>
                                            <td class="t_table_title">证件号码</td><td><input type="text" id="document_num"/></td>

                                        </tr>
                                        <tr>
                                            <td class="t_table_title">办公电话</td><td><input type="tel" id="res_office_tel"/></td><td>手机</td><td><input type="tel" id="res_mobile_tel"/></td>
                                        </tr>
                                        <tr>
                                            <td class="t_table_title">电子邮件</td><td colspan="3"><input type="text" id="res_email"/></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="t_title">核心技术</td>
                                <td class="t_middle" colspan="3">
                                    <table>
                                        <tr>
                                            <td id="patent_choose"><input type="checkbox" name="patent" value="专利" onclick="change_patent_table()" />专利<br/>(可增加）</td>
                                            <td id="patent_table">
                                                <table>
                                                    <tr class="img_tr">
                                                        <td colspan="5">
                                                            <div><img src="../static/img/zengjia.png" th:src="@{/img/zengjia.png}" alt="" id="add_img" onclick="addImg(++patent,num=num+3)"/>增加</div>
                                                            <!--<div><img src="../static/img/bianji.png" th:src="@{/img/bianji.png}" alt="" />编辑</div>-->
                                                            <div><img src="../static/img/shanchu.png" th:src="@{/img/shanchu.png}" alt="" id="reduce_img" onclick="reduceImg(num=num-3)"/>减少</div>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="">
                                            <td colspan="2">
                                                <div id="post_code"  onclick="change_otherPost()">
                                                    <input type="radio" value="软件著作权" name="code"/>软件著作权
                                                    <input type="radio" value="专有技术"  name="code"/>专有技术
                                                    <input type="radio" value="药品批文"  name="code"/>药品批文
                                                    <input type="radio" value="医疗器械批文"  name="code"/>医疗器械批文
                                                    <input type="radio" value="创新商业模式"  name="code"/>创新商业模式
                                                    <input type="radio" value="集成电路布图"  name="code"/>集成电路布图
                                                    <input type="radio" value="其它"  name="code"/>其它
                                                    <input type="text" id="powerType"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div id="technical_sources">
                                                    技术来源：
                                                    <input type="radio" value="独立知识产权" name="source"/>独立知识产权
                                                    <input type="radio" value="合作研发" name="source"/>合作研发
                                                    <input type="radio" value="购买技术" name="source"/>购买技术
                                                    <input type="radio" value="其它" name="source"/>其它
                                                    <!--<input type="checkbox" value="其他"/>其他-->
                                                    <!--<input type="text"/>-->
                                                </div>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <!--<td class="t_end"></td>-->
                            </tr>
                            <tr>
                                <td class="t_title">项目概要（不超过1000字)</td>
                                <td class="t_middle" colspan="3">
                                    <textarea id="te_pro_outline"  maxlength="1000">

                                    </textarea>
                                </td>
                                <!--<td class="t_end"></td>-->
                            </tr>
                            <tr>
                                <td class="t_title">关键字</td>
                                <td class="t_middle" colspan="3">
                                   <input type="text" id="te_key_word"/>
                                </td>
                                <!--<td class="t_end"></td>-->
                            </tr>
                            </tbody>
                        </table>
                        <div class=" conservation " id="jbxx_conservation_team"><p>保存</p></div>
                    </div>
                </div>
                <div id="second_table"  class="table_team_content">
                    <table class="tContent">
                            <tbody>
                            <tr>
                                <td class="t_title">核心团队成员(可增加)</td>
                                <td class="t_middle">
                                    <table id="core_team_table">
                                        <tbody>
                                        <tr class="img_tr">
                                            <td colspan="9">
                                                <div><img src="../static/img/zengjia.png" th:src="@{/img/zengjia.png}" alt="" onclick="addCoreTeamImg(++team,core=core+6)"/>增加</div>
                                                <!--<div><img src="../static/img/bianji.png" th:src="@{/img/bianji.png}" alt="" />编辑</div>-->
                                                <div><img src="../static/img/shanchu.png" th:src="@{/img/shanchu.png}" alt="" onclick="reduceCoreImg(core = core-6)"/>减少</div>
                                            </td>

                                        </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p>大学生创业：是指高等院校在读或毕业未超过二年的大学生、研究生、博士生组成的团队。</p>
                        <div class="conservation " id="hxtd_conservation_team"><p>保存</p></div>
                </div>
                <div id="third_table"  class="table_team_content">
                    <div class="tContent">
                        <table>
                            <tbody>
                            <tr>
                                <td class="t_title">主要技术、产品及服务</td>
                                <td>
                                    <table>
                                        <tr hidden="hidden"><td><input type="text" id="tbusId"/></td></tr>
                                        <tr>
                                            <td class="t_title2">参赛项目名称</td>
                                            <td colspan="2"><input type="text" id="pro_name"/></td>
                                            <td>参赛项目已实现收入</td>
                                            <td colspan="2"><input type="number" id="pro_incomed"/></td>
                                        </tr>
                                        <tr>
                                            <td class="t_title2">参赛项目是新筹开发技术/产品/服务</td>
                                            <td colspan="5">
                                                <div id="tbus_new_chips">
                                                    <input type="radio" value="是" name="chips"/>是
                                                    <input type="radio" value="否" name="chips"/>否
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tbus_hive">参赛项目是储备技术/产品/服务</td>
                                            <td colspan="5">
                                                <div id="tbus_hive">
                                                    <input type="radio" value="是" name="hive"/>是
                                                    <input type="radio" value="否" name="hive"/>否
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="t_title2">参赛项目是核心技术/产品/服务</td>
                                            <td colspan="5">
                                                <div id="tbus_pro_core">
                                                    <input type="radio" value="是" name="core"/>是
                                                    <input type="radio" value="否" name="core"/>否
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="maturity_input">
                                            <td class="t_title2">技术成熟度（参照GB/T22900-2009和附件）</td>
                                            <td class="maturity1"><input type="text" id="tbus_technology_maturity"/></td>
                                            <td class="t_title2">制造成熟度</td>
                                            <td class="maturity2"><input type="text" id="tbus_manufactur_matutity"/></td>
                                            <td class="t_title2">市场成熟度</td>
                                            <td class="maturity2"><input type="text" id="tbusMarketMatutity"/></td>
                                        </tr>
                                        <tr>
                                            <td class="t_title2">参赛项目是否是行业主流技术</td>
                                            <td colspan="5">
                                                <div id="tbus_industry_main">
                                                    <input type="radio" value="是" name="industry"/>是
                                                    <input type="radio" value="否" name="industry"/>否
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="t_title2" >属国内领先水平</td>
                                            <td colspan="2">
                                                <div id="tbus_is_lead_internal">
                                                    <input type="radio" value="是" name="internal"/>是
                                                    <input type="radio" value="否" name="internal"/>否
                                                </div>
                                            </td>
                                            <td style="width: 180px;">属国际领先水平</td>
                                            <td colspan="2">
                                                <div id="tbus_is_lead_international">
                                                    <input type="radio" value="是" name="international"/>是
                                                    <input type="radio" value="否" name="international"/>否
                                                </div>
                                            </td>
                                        </tr>
                                        <tr id="institute">
                                            <td class="t_title2">类似技术研究机构</td>
                                            <td>
                                                <div id="research_institute">
                                                    <input type="radio" value="有" name="research" onclick="change_institute_name()" checked="checked"/>有
                                                        <input type="radio" value="无" name="research"  onclick="change_instituteName()"/>无
                                                </div>

                                            </td>
                                            <td style="width: 80px;">机构名称</td>
                                            <td  class="instituteName" colspan="3">
                                                <input type="text" id="institute_name"/>
                                            </td>
                                        </tr>
                                        <tr id="picture">
                                            <td class="t_title2">参赛项目产品图片</td>
                                            <td>
                                                <div id="pro_picture">
                                                    <input type="radio" value="有" name="picture" onclick="change_picture_yes()" checked="checked"/>有
                                                    <input type="radio" value="无" name="picture" onclick="change_picture_No()"/>无
                                                </div>
                                            </td>
                                            <td colspan="4" class="picture_upload">
                                                <input type="text" value=""/>请附上产品图片
                                                <div style="float: right">
                                                    <p>上传</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <textarea type="text" id="major_describe" maxlength="2000" placeholder="（产品开发、生产策略，行业特点、竞争焦点、主要的技术指标和关键技术说明、主要介绍技术、产品及服务的背景、目前所处发展阶段、与国内外同行业其它公司同类技术、产品及服务的比较，本公司技术、产品及服务的新颖性、先进性和独特性，如拥有的专门技术、版权、配方、品牌、销售网络、许可证、专营权、特许权经营等）"></textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="t_title">产品市场分析</td>
                                <td>
                                    <textarea type="text" id="pro_market" maxlength="2000"  placeholder="（市场定位及需求分析，行业历史与前景分析与预测，产品市场概况，市场需求程度，规模及增长趋势，市场定位的合理性，未来市场销售预测，哪些行业的变化对产品利润、利润率影响较大，进入该行业的技术壁垒，贸易壁垒，政策限制，其他方面）"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="t_title">商业模式</td>
                                <td>
                                    <textarea type="text" id="bus_model" maxlength="2000"  placeholder="产品的市场营销策略，产品的获利模式）"></textarea>
                                </td>

                            </tr>
                            <tr>
                                <td class="t_title">业务拓展计划</td>
                                <td>
                                    <textarea type="text" maxlength="2000" id="tbus_development_plan" placeholder="(在建立销售网络、销售渠道、设立代理商、分销商方面的策略；在广告促销方面的策略；在产品销售价格方面的策略；在建立良好销售队伍方面的策略；如何保证销售策略具体实施的有效性；对销售队伍采取什么样的激励机制)"></textarea>
                                </td>

                            </tr>
                            <tr>
                                <td class="t_title">经营风险与对策</td>
                               <td>
                                   <table>
                                       <tr>
                                           <td>法律风险</td>
                                           <td>
                                               <table>
                                                   <tr ><td id="litigation_content_1">法律诉讼</td><td>
                                                   <table>
                                                       <tr>
                                                           <div id="litigation_1">
                                                               <input type="radio" value="有" name="litigation1" onclick="change_litigation1_yes()"/>有
                                                               <input type="radio" value="无" name="litigation1" onclick="change_litigation1_No()"/>无
                                                           </div>
                                                       </tr>
                                                       <tr id="reason1"><td>诉讼原因</td><td><input type="text" id="litigation_reason_1" maxlength="200"/></td></tr>
                                                   </table></td></tr>
                                                   <tr>
                                                       <td id="litigation_content_2">环保诉讼</td><td>
                                                       <table>
                                                           <tr>
                                                               <div id="litigation_2">
                                                                   <input type="radio" value="有" name="litigation2" onclick="change_litigation2_yes()" />有
                                                                   <input type="radio" value="无" name="litigation2" onclick="change_litigation2_No()"/>无
                                                               </div>
                                                           </tr>
                                                           <tr id="reason2"><td>诉讼原因</td><td><input type="text" id="litigation_reason_2" maxlength="200"/></td></tr>
                                                       </table></td></tr>
                                                   <tr>
                                                       <td>其它诉讼 </td>
                                                       <td>
                                                       <table id="litigation_table">
                                                           <tr>
                                                               <div id="other_litigation">
                                                                   <input type="radio" value="有" name="litigation3" id="litigationChecked" onclick="change_litigation3_yes()" />有
                                                                   <input type="radio" value="无" name="litigation3" onclick="change_litigation3_No()"/>无
                                                               </div>
                                                           </tr>
                                                           <tr class="reason3">
                                                               <div><img src="../static/img/zengjia.png" th:src="@{/img/zengjia.png}" alt="" id="addLitigationImg" onclick="addLitigationImg(++litigation,liti = liti+2)"/>增加</div>
                                                               <!--<div><img src="../static/img/bianji.png" th:src="@{/img/bianji.png}" alt="" />编辑</div>-->
                                                               <div><img src="../static/img/shanchu.png" th:src="@{/img/shanchu.png}" alt="" id="reduceLitigationImg" onclick="reduceLitigationImg(liti = liti-2)"/>减少</div>
                                                           </tr>
                                                       </table>
                                                       </td>
                                                   </tr>
                                               </table>
                                           </td>
                                       </tr>
                                       <tr>
                                           <td colspan="2">(包括：政策风险、技术开发风险、经营管理风险、市场开拓风险、生产风险、财务风险、汇率风险、对公司关键人员依赖的风险等，提出有效的风险控制和防范手段)</td>
                                       </tr>
                                   </table>
                               </td>

                            </tr>
                            <tr>
                                <td class="t_title">财务预测</td>
                                <td>
                                    <table>
                                        <tbody>
                                        <tr><td colspan="4">单位：万元人民币，小数点后保留六位</td></tr>
                                        <tr>
                                            <td class="t_title3">项目</td>
                                            <td>2015年<input type="text" id="foreId_5" hidden="hidden"/></td>
                                            <td>2016年<input type="text" id="foreId_6" hidden="hidden"/></td>
                                            <td>2017年<input type="text" id="foreId_7" hidden="hidden"/></td>
                                        </tr>
                                        <tr>
                                            <td class="t_title3">主营业务收入</td>
                                            <td><input type="number" id="fore_income_5" name="fore"/></td>
                                            <td><input type="number" id="fore_income_6"  name="fore"/></td>
                                            <td><input type="number" id="fore_income_7" name="fore"/></td>
                                        </tr>
                                        <tr>
                                            <td class="t_title3">主营业务成本</td>
                                            <td><input type="number" id="fore_cost_5" name="fore"/></td>
                                            <td><input type="number" id="fore_cost_6" name="fore"/></td>
                                            <td><input type="number" id="fore_cost_7" name="fore"/></td>
                                        </tr>

                                        <tr>
                                            <td class="t_title3">主营业务利润</td>
                                            <td><input type="number" id="fore_profit_5" name="fore"/></td>
                                            <td><input type="number" id="fore_profit_6" name="fore"/></td>
                                            <td><input type="number" id="fore_profit_7" name="fore"/></td>
                                        </tr>

                                        <tr>
                                            <td class="t_title3">净利润</td>
                                            <td><input type="number" id="net_margin_5" name="fore"/></td>
                                            <td><input type="number" id="net_margin_6" name="fore"/></td>
                                            <td><input type="number" id="net_margin_7" name="fore"/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--<div class="conservation " id=""><p>保存</p></div>-->
                        <div class="submit_div">
                            <div id="syjhs_conservation_team"><p>保存</p></div>
                            <div id="submit_competition_syjhs" style="margin-left: 100px;"><p>提交商业计划书</p></div>
                        </div>

                    </div>
                </div>
                <div id="four_table" class="table_team_content">
                    <div class="tContent">
                        <table>
                            <tbody>
                            <tr>
                                <td class="t_title">科技金融服务需求
                                    （可复选项）
                                </td>
                                <td>
                                    <table id="technology">
                                        <tr hidden="hidden"><td><input type="text" id="demandId"/></td></tr>
                                        <tr>
                                            <td colspan="3" class="choose_div">
                                                <div><p>股权融资</p></div>
                                                <div id="df_isEquity">
                                                    <input type="radio" value="是" name="df_equity" onclick="df_equity_yes()"/>是
                                                    <input type="radio" value="否" name="df_equity" onclick="df_equity_no()"  checked = "checked"/>否
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="df_equity_yes">
                                            <td>融资金额（万元￥）</td>
                                            <td>拟出让股权比例</td>
                                            <td>融资时间</td>
                                        </tr>
                                        <tr class="df_equity_yes df_yes">
                                            <td><input type="text" id="df_equity_money"/></td>
                                            <td><input type="text" id="df_equity_shares"/></td>
                                            <td>
                                                <div class="sample">
                                                    <input type="text" data-beatpicker="true" placeholder="" data-beatpicker-position="['right','*']" id="df_equity_date"/>
                                                </div></td>
                                        </tr>
                                        <tr class="df_equity_yes">
                                            <td>资金使用计划</td>
                                            <td colspan="2">
                                                <textarea type="text" value="" id="df_equityFund_plan" placeholder="（资金使用方向细目。包括固定资产投入、在建工程、研发投入、管理费等,1200字以内）" maxlength="1200"></textarea>
                                            </td>
                                        </tr>
                                        <tr class="df_equity_yes">
                                            <td colspan="3"  class="choose_div">
                                                <div><p>愿意接受大赛组委会推荐创投机构</p></div>
                                                <div id="df_isEquity_recom">
                                                    <input type="radio" value="是" name="equity_recom" checked="checked"/>是
                                                    <input type="radio" value="否" name="equity_recom"/>否
                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td colspan="3"  class="choose_div">
                                                <div><p>债权融资</p></div>
                                                <div id="df_isDebt">
                                                    <input type="radio" value="是" name="df_debt" onclick="df_debt_yes()" />是
                                                    <input type="radio" value="否" name="df_debt" onclick="df_debt_no()" checked="checked"/>否
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="df_debt_yes">
                                            <td>融资金额（万元￥）</td>
                                            <td>可接受最高年利率%</td>
                                            <td>融资时间</td>
                                        </tr>
                                        <tr class="df_debt_yes df_yes">
                                            <td><input type="text" id="df_debt_money"/></td>
                                            <td><input type="text" id="df_debt_maxAnnual"/></td>
                                            <td>
                                                <div class="sample">
                                                    <input type="text" data-beatpicker="true" placeholder="" data-beatpicker-position="['right','*']" id="df_debt_date"/>
                                                </div></td>
                                        </tr>
                                        <tr class="df_debt_yes">
                                            <td>资金使用计划</td>
                                            <td colspan="2">
                                                <textarea type="text" id="df_debtFund_plan" placeholder="（资金使用方向细目。包括固定资产投入、在建工程、研发投入、管理费等,1200字以内）" maxlength="1200"></textarea>
                                            </td>
                                        </tr>
                                        <tr class="df_debt_yes">
                                            <td colspan="3"  class="choose_div">
                                                <div><p>愿意接受大赛组委会推荐创投机构</p></div>
                                                <div id="df_isDebt_recom">
                                                    <input type="radio" value="是" name="debt_recom" checked="checked"/>是
                                                    <input type="radio" value="否" name="debt_recom"/>否
                                                </div>
                                            </td>
                                        </tr>

                                        <tr id="crowd">
                                            <td id="choose_crowd"><input type="checkbox" value="众筹" name="crowd_title" id="df_isCrowd_funding" onclick="change_crowd()"/>众筹</td>
                                            <td colspan="2" class="crowd_td">
                                                <table id="crows_fund_type">
                                                    <tr><td><input type="radio" value="债权众筹" name="crowd" checked="checked"/>债权众筹</td></tr>
                                                    <tr><td> <input type="radio" value="股权众筹" name="crowd"/>股权众筹</td></tr>
                                                    <tr><td><input type="radio" value="回报众筹" name="crowd"/>回报众筹</td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr><td colspan="3"  id="df_isMerge"><input type="checkbox" name="marge" value="并购"/>并购</td></tr>
                                        <tr><td colspan="3" id="df_isFinancing_guarantee"><input type="checkbox" name="guarantee" value="融资担保" />融资担保</td></tr>
                                        <tr>
                                            <td id="change_petty"><input type="checkbox" value="小额贷款" id="df_isPetty_loan" name="petty" onclick="change_petty()"/>小额贷款</td>
                                            <td colspan="2" class="pettyMoney">额度<input type="number" value="" id="petty_loan_money"/>（万元人民币）</td>
                                        </tr>

                                        <tr>
                                            <td id="change_import_technical"><input type="checkbox" value="技术引进" name="technicalImport" id="df_technical_import" onclick="change_import_technical()"/>技术引进 </td>
                                            <td colspan="2" id="importTechnical">
                                                <table  id="technical_import_range">
                                                    <tr>
                                                        <td id="technical_import_international"> <input type="checkbox" name="tecInternational" value="国际技术范围" />国际技术范围</td>
                                                        <td><input type="text" value="" placeholder="（自行填写,200字以内）" id="technical_desc_international" maxlength="200"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td  id="technical_import_internal"> <input type="checkbox" name="tecInternal" value="国内技术范围"/>国内技术范围</td>
                                                        <td><input type="text" value="" placeholder="（自行填写,200字以内）"  id="technical_desc_internal" maxlength="200"/></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="change_transfer"><input type="checkbox" value="技术转让" name="transfer" id="df_technical_transfer" onclick="change_transfer()"/>技术转让</td>
                                            <td class="transferTechnical">技术范围:<input type="text" id="technical_transfer_range"/></td>
                                        </tr>
                                        <tr><td colspan="3" id="df_branchChong_check"><input type="checkbox" name="branch" value="入住科创园区/孵化器" />入住科创园区/孵化器</td></tr>
                                        <tr><td colspan="3" id="df_political_consult"><input type="checkbox" name="political" value="政策咨询" />政策咨询</td></tr>
                                        <tr><td colspan="3" id="df_technology_consult"><input type="checkbox" name="technologyConsult" value="科技咨询" />科技咨询</td></tr>

                                        <tr>
                                            <td id="change_intermediary"><input type="checkbox" value="中介咨询" name="intermediary" id="df_intermediary_consult" onclick="change_intermediary()"/>中介咨询</td>
                                            <td colspan="2" id="intermediary">
                                                <table id="intermediary_consult_type">
                                                    <tr>
                                                        <td  id="intermediary_law"><input type="checkbox" name="law" value="法律"/>法律</td>
                                                        <td><input type="text" value="" placeholder="（自行填写,200字以内）" id="intermediary_law_desc" maxlength="200"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="intermediary_finance"><input type="checkbox" name="finance" value="财务" />财务</td>
                                                        <td><input type="text" value="" placeholder="（自行填写,200字以内）" id="intermediary_finance_desc" maxlength="200"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="intermediary_Financing"><input type="checkbox" name="financing" value="融资" />融资</td>
                                                        <td><input type="text" value="" placeholder="（自行填写,200字以内）" id="intermediary_financing_desc" maxlength="200"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="intermediary_manage"><input type="checkbox" name="manage" value="管理" />管理</td>
                                                        <td><input type="text" value="" placeholder="（自行填写,200字以内）" id="intermediary_manage_desc" maxlength="200"/></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="change_other"><input type="checkbox" value="其他服务需求" name="other" id="df_other_service" onclick="change_other()"/>其他服务需求</td>
                                            <td colspan="2" id="otherDesc"><input type="text" value="" placeholder="（自行填写,200字以内）" id="other_service_desc" maxlength="200"/></td>
                                        </tr>

                                        <tr><td colspan="3"  id="df_accept_train"><input type="checkbox" name="train" value="愿意接受专业培训和创业教育学位进修机会"/>愿意接受专业培训和创业教育学位进修机会</td></tr>
                                        <tr><td colspan="3" id="df_no"><input type="checkbox" name="no" value="无" />无</td></tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="submit_div">
                            <div id="kjjr_conservation_team"><p>保存</p></div>
                            <div id="submit_competition_kjjr" style="margin-left: 100px;"><p>提交报名</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/table_footer :: table_footer"></div>
</div>
<div id="lightboxOverlay" class="lightboxOverlay" style="width: 100%; height: 100%; display: block;"></div>
<div class="pop lightbox" id="submit_pop" hidden="hidden">
    <div><div><p>提交报名信息</p></div></div>
    <div>
        <p>请确认报名信息无误！如无误，请点击提交，提交后报名信息不可更改！</p>
        <div>
            <div><p>提交</p></div>
            <div><p>取消</p></div>
        </div>
    </div>
</div>

<!--时间控件-->
<script src="../static/time/js/jquery-1.11.0.min.js"  th:src="@{/time/js/jquery-1.11.0.min.js}"></script>
<script src="../static/time/js/BeatPicker.min.js" th:src="@{/time/js/BeatPicker.min.js}"></script>
<script src="../static/time/documents/js/prism.js" th:src="@{/time/documents/js/prism.js}"></script>

<script src="../static/lib/js/jquery.min.js" th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
<script src="../static/lib/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="../static/lib/js/lightbox.min.js" th:src="@{/lib/js/lightbox.min.js}"></script>
<script src="../static/js/public.js" th:src="@{/js/public.js}"></script>
<script src="../static/js/comeTime.js" th:src="@{/js/comeTime.js}"></script>
<script src="../static/js/teamTable.js" th:src="@{/js/teamTable.js}"></script>
</body>
</html>