<!DOCTYPE html>
<html lang="ch_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>中国创新创业大赛 - 军转民分站</title>
    <link href="../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/lib/css/font-awesome.min.css" th:href="@{/lib/css/font-awesome.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="../static/lib/jquery.min.js" th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
    <script src="../static/lib/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="body">
    <div id="main">
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>

        <!--banner部分-->
        <div class="section section-banner active" style="margin-top: 70px;">
            <div class="content2" >
                <div class="index_login_btn"><a href="#"><p>参赛登录</p></a></div>
            </div>
            <div class="content_blue2">
                <div>
                    <ul>
                        <li class="click_menu13"><a href="/intro/info"><p>大赛通知</p></a></li>
                        <li class="click_menu14"><a href="/intro/regulation"><p>大赛章程</p></a></li>
                        <li class="click_menu15"><a href="/intro/org"><p>组织机构</p></a></li>
                        <li class="click_menu16"><a href="/intro/rule"><p>竞赛规则</p></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row thread">
            <div class="col-lg-12">
                <h1 style="text-align: center;">第六届中国创新创业大赛</h1>
                <h1 style="text-align: center;">军转民大赛方案</h1>
                <div title="header">
                    <p class="cjk" style="margin-bottom: 1cm; line-height: 100%">

                    </p>
                </div>
                <p class="cjk" align="center" style="margin-bottom: 0cm; line-height: 150%">
                    <br/>

                </p>
                <p class="cjk" align="center" style="margin-bottom: 0cm; line-height: 150%">
                    <br/>

                </p>
                <p style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 150%; page-break-before: always">
                    <br/>
                </p>
                <p style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 150%">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">为深入推动军民融合国家战略实施，发挥军用高技术资源优势，释放军工创新能量和创新活力，促进军用技术与区域创新和经济融合发展，营造良好的军民融合双创生态环境。由中国创新创业大赛组委会指导，科技部火炬高技术开发中心、绵阳市人民政府共同举办第六届中国创新创业大赛军转民大赛，方案如下：</font></font>
                </p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">一、赛事名称</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">“军民融合•创新发展”—第六届中国创新创业大赛军转民大赛（以下简称“军转民大赛”）</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">二、赛事简介</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国创新创业大赛作为全国最高规格“双创”赛事已连续举办五届。军转民大赛作为中国创新创业大赛的专项赛、亮点赛，已成功在绵阳连续举办三届，吸引了千余项军工科技项目参与，推动了百余个优秀项目的就地转移和转化，在全国军工系统和社会各界引起了极大反响。</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">结合往届赛事经验，本届军转民大赛将探索“政府引导+市场参与+资本众扶”的新型办赛模式，即：引导、集聚政府和市场资源支持创新创业事业，激发、鼓励资本和基金扶持创新创业平台，配套运用培训辅导、融资路演、银行授信等方式，为参赛项目提供多元化服务，进一步挖掘和培育军工科研队伍的市场意识和商业意识，推广和转化更多有市场价值的军转民项目，打造西部特色军民融合众创圈。</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">三、组织机构</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（一）指导单位</b></font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">国家科技部</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">国家国防科工局</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国创新创业大赛组委会</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（二）支持单位</b></font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国核工业集团公司</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国核工业建设集团公司</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国航天科技集团公司</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国航天科工集团公司</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国航空工业集团公司</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国船舶工业集团公司</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国船舶重工集团公司</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国兵器工业集团公司</font></font></p>

                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国兵器装备集团公司</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国电子科技集团公司</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国航空发动机集团有限公司</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国电子信息产业集团有限公司</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">中国工程物理研究院</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">四川省科技厅</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">四川省国防科工办等</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（三）主办单位</b></font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">科技部火炬高技术产业开发中心</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">绵阳市人民政府</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（四）承办单位</b></font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">绵阳市科学技术和知识产权局</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">绵阳科教创业园区管理委员会（国家军转民科技园区）</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（五）协办单位</b></font></font></p>
                <p style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 150%">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">协办：国家军民两用技术交易中心</font></font></p>
                <p style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 150%">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">特别协办：国防科技工业科技成果推广中心</font></font></p>
                <p style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 150%">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">组委会由主办单位、承办单位、协办单位共同组成，主要负责大赛的整体规划、指导、协调，并确定重大事项。组委会包括秘书处、项目组、接待组、宣传组、招商组，承担大赛的具体事务和组织工作。</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">四、参赛条件</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（一）参赛主体：</b></font></font><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">国防军工院校、科研院所、军工企业集团直属军转民企业；涉军单位及军转民企业所属创新团队。</font></font>
                </p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（二）项目范围：</b></font></font><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">装备制造、航空航天、核技术应用、特种机械与车辆、光机电一体化、电子信息、新材料新能源、生物医药等产业。</font></font>
                </p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（三）比赛分类：</b></font></font><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt"></font>按照大赛评审委员会的指导意见，大赛拟制定企业组、团队组进行比赛。往届大赛总决赛获得名次对象不参加本届大赛。</font>
                </p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">五、组赛流程</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace">
                        <font size="4" style="font-size: 16pt">
                            <b>（一）启动仪式</b></font></font><font face="仿宋, monospace">
                    <font size="4" style="font-size: 16pt">（</font></font><span lang="en-US"><font face="仿宋, monospace">
                    <font size="4" style="font-size: 16pt">5</font></font></span>
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">月上旬）：大赛组委会组织相关单位及各界媒体在北京举行启动仪式，对上届大赛进行总结并通报本届大赛相关情况。</font></font>
                </p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">拟邀请：中国工程物理研究院、中国航天科技集团、中国兵器集团、中国电子科技集团、北京理工大学、四川大学等单位参加启动仪式。</font></font>
                </p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（二）报名</b></font></font><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">（</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">5</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">月</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4" style="font-size: 16pt">-7</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">月</font></font><font
                        face="仿宋, monospace"><font size="4"
                                                   style="font-size: 16pt">）：动员、组织参赛企业及团队在中国创新创业大赛军转民大赛官网填报报名表。</font></font>
                </p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（三）初赛</b></font></font><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">（</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">7</font></font></span><font
                        face="仿宋, monospace"><font size="4"
                                                   style="font-size: 16pt">月下旬）：组织专家对参赛企业及团队（项目）进行评选，评选出</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4" style="font-size: 16pt">80</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">个项目进入半决赛。</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（四）培训</b></font></font><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">（</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">8</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">月上旬）：对入围半决赛的</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4" style="font-size: 16pt">80</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">个项目进行赛前培训。</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（五）半决赛</b></font></font><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">（</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">8</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">月中旬）：通过初赛进入半决赛的</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4" style="font-size: 16pt">80</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">个企业及团队（项目）分别在评审，评选出</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4" style="font-size: 16pt">20</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">个企业及团队（项目）进入决赛。</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（六）决赛暨颁奖仪式</b></font></font><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">（</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">8</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">月下旬）：通过半决赛的</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4" style="font-size: 16pt">20</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">个项目在绵阳参加路演、答辩、评审，评选出一、二、三等奖及优胜奖并举行颁奖仪式。</font></font></p>

                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">六、奖项设置</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（一）奖项类别</b></font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">大赛产生</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4" style="font-size: 16pt">20</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">个获奖项目。</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">一等奖</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">2</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">个、（单位团队各<span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">1</font></font></span>）个、二等奖</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">3</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">个（单位<span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">2</font></font></span>个、团队<span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">1</font></font></span>个）、三等奖</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">5</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">个（单位<span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">3</font></font></span>个、团队<span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">2</font></font></span>个）；优胜奖</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4" style="font-size: 16pt">10</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">个（单位<span
                        lang="en-US"><font face="仿宋, monospace"><font size="4" style="font-size: 16pt">5</font></font></span>个、团队<span
                        lang="en-US"><font face="仿宋, monospace"><font size="4" style="font-size: 16pt">5</font></font></span>个）。</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt"><b>（二）大赛奖励</b></font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">对获奖项目给予奖励。</font></font><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">其中，一等奖</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4" style="font-size: 16pt">20</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">万；二等奖</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">10</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">万、三等奖</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4"
                                                                      style="font-size: 16pt">5</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">万、优胜奖</font></font><span
                        lang="en-US"><font face="仿宋, monospace"><font size="4" style="font-size: 16pt">3</font></font></span><font
                        face="仿宋, monospace"><font size="4" style="font-size: 16pt">万；</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">对组织项目参赛单位给予奖励。其中，优秀组织奖、优秀投资机构，并颁发奖杯奖牌；</font></font></p>
                <p class="cjk" style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 0.99cm">
                    <font face="仿宋, monospace"><font size="4" style="font-size: 16pt">对获奖并落地绵阳科教创业园区的项目单位给予政策支持，详见附件：第六届中国创新创业大赛军转民大赛科教创业园区项目落地支持政策汇编。</font></font></p>
                <p class="cjk" style="margin-bottom: 0cm; line-height: 100%"><br/>

                </p>
                <div title="footer">
                    <p class="cjk" align="" style="margin-bottom: 0cm;text-align: right">
                        <font face="楷体_GB2312, 微软雅黑, monospace"><font size="5" style="font-size: 18pt">中国创新创业大赛军转民大赛</font></font>
                    </p>
                    <p class="cjk" align="right" style="margin-bottom: 0cm;text-align: right">
                        <font face="楷体_GB2312, 微软雅黑, monospace"><font size="5" style="font-size: 18pt">组委会办公室</font></font>
                    </p>
                    <p class="cjk" align="right" style="margin-bottom: 0cm; line-height: 100%;text-align: right">
                        <br/>

                    </p>
                    <p class="cjk" style="margin-bottom: 0cm; line-height: 120%;text-align: right">
                        <font face="楷体_GB2312, 微软雅黑, monospace"><font size="4" style="font-size: 16pt"><span lang="en-US">2017</span></font></font><font
                            face="楷体_GB2312, 微软雅黑, monospace"><font size="4" style="font-size: 16pt">年</font></font><font
                            face="楷体_GB2312, 微软雅黑, monospace"><font size="4" style="font-size: 16pt"><span
                            lang="en-US">4</span></font></font><font face="楷体_GB2312, 微软雅黑, monospace"><font size="4" style="font-size: 16pt">月</font></font>
                    </p>
                    <p style="text-indent: 1.13cm; margin-bottom: 0cm; line-height: 150%; page-break-before: always">
                        <br/>
                    </p>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
    </div>
</div>
<script src="../../static/js/menu_click.js" th:src="@{/js/menu_click.js}"></script>
<script type="application/javascript">
    $("#event_profile1").css("background","#7aae1a")
    $("#news_center1").css("background","#ffffff")
    $("#review1").css("background","#ffffff")
    $("#com_login").css("background","#ffffff")
    $("#active_nev").css("background","#ffffff")

    $(".click_menu13").css("background","url('../img/lvse.png')")
    $(".click_menu13").css("background-size","100% 100%")
</script>
</body>
</html>