<!DOCTYPE html>
<html lang="ch_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>中国创新创业大赛 - 军转民分站</title>
    <link href="../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/lib/css/font-awesome.min.css" th:href="@{/lib/css/font-awesome.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <script src="../static/lib/jquery.min.js" th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
    <script src="../static/lib/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="body">
    <div id="main">
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>

        <!--banner部分-->
        <div class="section section-banner active" style="margin-top: 70px;">
            <div class="content" style="height: 455px!important;">
            </div>
            <div class="content_blue">
                <div>
                    <ul>
                        <li class="click_menu1"><a href="#meg_present"><p>大赛通知</p></a></li>
                        <li class="click_menu2"><a href="#condition"><p>大赛章程</p></a></li>
                        <li class="click_menu3"><a href="#prize_set"><p>组织机构</p></a></li>
                        <li class="click_menu4"><a href="#org_institution"><p>竞赛规则</p></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row thread">
            <div class="col-lg-12">
                <h2 style="text-align: center;">“创青春”中国青年创新创业大赛章程（试行）</h2>
                <p>&nbsp;</p>
                <p>第一章&nbsp; 总则</p>
                <p style="margin-left: 40px;">第一条&nbsp;
                    “创青春”中国青年创新创业大赛是由共青团中央联合相关部委、省级人民政府等单位主办的面向广大青年创业者开展的一项具有导向性、示范性和群众性的大赛。</p>
                <p style="margin-left: 40px;">第二条&nbsp;
                    大赛的宗旨：搭建促进青年创新创业的展示交流平台、资源对接平台和培育孵化平台，优化支持和帮助青年创新创业的社会环境，帮助青年增强创业能力、提高创业水平、提升创业成功率，激励青年投身“大众创业，万众创新”实践，引领广大青年在全面深化改革、推动社会主义现代化建设进程中贡献青春力量。</p>
                <p style="margin-left: 40px;">第三条&nbsp;
                    大赛的办赛体制：大赛分为综合赛和专项赛。综合赛原则上每年举办一届，专项赛根据国家产业引导政策、战略部署和支持区域发展等实际情况具体确定举办届次。</p>
                <p>&nbsp;</p>
                <p>第二章&nbsp; 组织机构</p>
                <p style="margin-left: 40px;">第四条&nbsp; 大赛设立领导小组，由主办单位的有关负责人组成，负责大赛领导工作，指导全国组织委员会和全国评审委员会行使各项职能。</p>
                <p style="margin-left: 40px;">第五条&nbsp;
                    大赛设立全国组织委员会，由主办单位、承办单位有关负责人组成，负责开展大赛筹备组织工作，制定、修订大赛章程，筹集大赛组织、评审、奖励经费，研究、议决大赛相关事项。全国组织委员会设主任、副主任、委员若干名。</p>
                <p style="margin-left: 40px;">第六条&nbsp;
                    全国组织委员会下设秘书处，设在团中央，由城市青年工作部、农村青年工作部、学校部、中国青年创业就业基金会、中国青年企业家协会等单位负责人共同组成，负责协调大赛筹备组织及日常工作。</p>
                <p style="margin-left: 40px;">第七条&nbsp;
                    大赛设立全国评审委员会，由主办单位邀请的青年工作者、创投行业著名人士、青年创业导师、相关行业专家学者组成，负责制定评审规则及细则、评审参赛项目、确定项目获奖等次。每届大赛评审委员会设主任委员、副主任委员、委员若干名。</p>
                <p>&nbsp;</p>
                <p>第三章&nbsp; 参赛资格</p>
                <p style="margin-left: 40px;">第八条&nbsp;
                    参赛项目须符合国家法律法规和国家产业政策，可以个人名义申报，也可以团队名义申报。以大赛举办当年的6月30日为界限，年龄不超过35周岁（含）的中国公民，均可以个人名义申报参赛项目。凡团队申报的项目，团队总人数不多于5人，团队主要负责人年龄不超过35周岁（含），其他成员年龄最高不超过40周岁（含），且平均年龄不超过35周岁（含）。</p>
                <p style="margin-left: 40px;">第九条&nbsp;
                    大赛根据创业项目所处阶段及企业创办年限不同，划分为创意组、初创组和成长组。创意组第一申报人须为项目主要负责人。初创组、成长组第一申报人须为企业法人，且所占股份不低于30%。</p>
                <p style="margin-left: 40px;">第十条&nbsp;
                    创业阶段以大赛举办当年的6月30日为界限计算时间。创意组指尚未完成工商登记注册，但产品原型或服务模式已研发成型的创业项目。初创组指工商登记注册时间不超过2年的企业。成长组指工商登记注册时间在2至5年（含）之间的企业。</p>
                <p style="margin-left: 40px;">第十一条&nbsp; 大赛设定申报唯一性原则，任何项目只能根据参赛对象分组及创业阶段分组条件，选择1个组参赛，不得在多个组中重复申报参赛。</p>
                <p style="margin-left: 40px;">第十二条&nbsp; 大赛设定鼓励成长性原则，同一个项目根据自身成长情况，可参加不同届次的比赛，但不得参加同一阶段组的比赛。</p>
                <p>&nbsp;</p>
                <p>第四章&nbsp; 大赛组织</p>
                <p style="margin-left: 40px;">第十三条
                    &nbsp;方案发布：由秘书处研究制定具体届次的大赛方案，包括综合赛、专项赛等内容，形成统一的大赛通知，由各主办单位联合下发文件，启动大赛。</p>
                <p style="margin-left: 40px;">第十四条&nbsp;
                    大赛宣传：全国各级团组织广泛协调各新闻媒体、团属媒体、新媒体平台，对大赛进行宣传，扩大大赛社会知晓度和影响力。在大赛总体宣传中，名称统称为：“创青春”中国青年创新创业大赛。在各专项赛独立宣传中，实行规范化命名，表述为：
                    “创青春”中国青年创新创业大赛（某专项赛）。</p>
                <p style="margin-left: 40px;">第十五条&nbsp; 项目申报：参赛者须登录全国大赛官方网站（网址：<a href="http://cxcyds.youth.cn/">http://cxcyds.youth.cn/</a>）、微信服务号（名称：中国青年创新创业大赛）、APP（名称：青创宝）申报项目。进入全国大赛的项目由省级地区赛组织委员会进行资格审查、初步评定、项目推荐，方可上报全国组织委员会秘书处。
                </p>
                <p style="margin-left: 40px;">第十六条&nbsp;
                    地区赛组织：各省（自治区、直辖市）团委须联合各有关部门举办省级青年创新创业大赛。各副省级城市、省会城市、地（市、州、盟）团组织原则上应根据当地经济社会发展情况，联合当地相关部门举办相应赛事。鼓励各县（市、区、旗）团组织联合有关部门举办相应赛事。全国大赛组织委员会秘书处根据参赛报名数量和地区赛事开展情况，向各地分配晋级全国赛的项目名额。</p>
                <p style="margin-left: 40px;">第十七条&nbsp;
                    社会资源对接：在全国大赛筹备过程中，组织多种形式的展示、交流、投融资对接等活动，帮助参赛项目面向投资机构、社会公众进行展示，促进不同创业者之间及创业者与专家学者、投资机构之间进行交流，推动创业项目获得银行贷款、风险投资等融资，提升创业项目成功率。</p>
                <p style="margin-left: 40px;">第十八条&nbsp;
                    全国赛组织：全国赛分为创业实训路演、半决赛和总决赛等环节。全国大赛评审委员会对参赛项目进行演示观摩、答辩等程序，确定获奖项目，评定获奖等次，给予相应奖励。</p>
                <p style="margin-left: 40px;">第十九条&nbsp;
                    项目培育孵化：在大赛筹备组织过程中，遴选设立创业项目库、创业人才库、创业导师库，通过协调组织资源及整合社会资源，对接提供创业政策运用、创业园区落户、企业运行辅导、知识产权保护、法律指导咨询、网络运营、软件评测等服务，促进创业项目成长成熟。</p>
                <p>&nbsp;</p>
                <p>第五章&nbsp; 专项赛</p>
                <p style="margin-left: 40px;">第二十条&nbsp;
                    根据国家产业引导政策、国家战略部署和支持区域发展等实际，在承办主体、资源整合、经费保障等条件充分的情况下，针对某些产业可相对独立地举办专项赛。</p>
                <p style="margin-left: 40px;">第二十一条&nbsp; 专项赛是全国大赛的组成部分，统一纳入全国大赛方案及通知文件，给予特别标明，另附实施方案，但不再另行下发通知。</p>
                <p style="margin-left: 40px;">第二十二条&nbsp; 专项赛可在全国组织委员会和全国评审委员会之外，分别设立对应的专项赛分委员会，负责专项赛规则制定、筹备组织和评审工作。</p>
                <p style="margin-left: 40px;">第二十三条&nbsp; 专项赛可使用全国大赛专项赛名义，开展社会资源整合、赛事宣传动员等活动，其全国决赛可根据具体赛事承办情况独立举办。</p>
                <p>&nbsp;</p>
                <p>第六章&nbsp; 奖励</p>
                <p style="margin-left: 40px;">第二十四条&nbsp;
                    全国评审委员会对各省（自治区、直辖市）推荐报送的项目进行评审。根据创业团队及项目所体现的创业精神、市场价值、创新贡献、社会效益等方面综合情况，按照全国大赛入围项目总数的一定比例，分别评出金奖、银奖、铜奖及优秀奖若干名，颁发证书、奖杯、奖金等奖励，并优先推荐加入中国青年企业家协会等团属组织。</p>
                <p style="margin-left: 40px;">第二十五条&nbsp;
                    获得金奖的项目要求创业者能弘扬创业精神，对青年有较强的示范引领作用，具有巨大的市场价值和开发潜力，引领科技创新和产业升级潮流，显示明显的促进就业、带动群众致富等社会效益。</p>
                <p style="margin-left: 40px;">第二十六条&nbsp;
                    获得银奖的项目要求创业者能弘扬创业精神，具有较大的市场价值和开发潜力，能带动科技创新和产业升级，显示较好的促进就业、带动群众致富等社会效益。</p>
                <p style="margin-left: 40px;">第二十七条&nbsp;
                    获得铜奖的项目要求创业者能弘扬创业精神，具有一定的市场价值和开发潜力，符合科技创新和产业升级方向，显示一定的促进就业、带动群众致富等社会效益。</p>
                <p style="margin-left: 40px;">第二十八条&nbsp;
                    全国组织委员会根据各省（自治区、直辖市）在各综合赛、专项赛中的组织工作及所推荐参赛项目获奖情况，评定年度集体奖，颁发证书、奖杯、奖金等奖励。授予综合表现最优的省份“创青春”年度奖，授予综合表现前列的省份“优秀组织奖”。</p>
                <p>&nbsp;</p>
                <p>第七章&nbsp; 附则</p>
                <p style="margin-left: 40px;">第二十九条&nbsp;
                    各省（自治区、直辖市）按照大赛章程申请承办全国大赛。获得历届“创青春”年度奖和“优秀组织奖”的省份具有承办下届全国大赛的优先权。专项赛可视国家产业政策、发起历史等情况，另行确定申请承办规则。</p>
                <p style="margin-left: 40px;">第三十条&nbsp;
                    各省（自治区、直辖市）、副省级城市、省会城市、地（市、州）团组织参照全国大赛章程，根据当地实际情况及区域特色制定本地大赛方案，要求与全国大赛总体接轨，但是要把综合赛和专项赛整合举办，不再独立办赛。计划在3至4年时间内实现地（市、州）级赛事全面普及。</p>
                <p style="margin-left: 40px;">第三十一条&nbsp;
                    全国大赛承办单位经全国组织委员会授权和审核，可以全国组织委员会名义寻求社会赞助，并且在各综合赛分组、各专项赛层面可以洽谈冠名、广告等商事权益。</p>
                <p style="margin-left: 40px;">第三十二条&nbsp; 本章程由全国组织委员会审议通过，自2015年6月1日起生效，由全国组织委员会秘书处负责解释。</p>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
    </div>
</div>
<script src="../../static/js/menu_click.js" th:src="@{/js/menu_click.js}"></script>
</body>
</html>